<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: SOL FER EXE,
    Proyect: MundoCafe">
    <title>{% block title %}MundoCafé{% endblock %}</title>
    
    {% load static %}
    {%block contacto_css %}{%endblock%}
    <link rel="stylesheet" href="{% static 'core/styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/animacion.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/recetas.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/img/coffee-breaks.png' %}">
    
</head>

<body>

    <header>
        <div class="principal-nav">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <h1 class="titulo">Mundo<span class="negrita">Café</span> </h1>
                </a>
            </div>

            <input type="checkbox" id="toggle">
            <label for="toggle"><img class="menu" src="{% static 'core/img/menu.svg' %}" alt="menu"></label>
            
            <!-- barra desplegable -->
            <nav class="navigation">
                <ul>
                    <li> <a href="{% url 'historia' %}">Historia</a></li>
                    <li> <a href="{% url 'receta' %}">Recetas</a>
                        <ul>
                            {% comment %} <li> <a href="{% url 'latte' %}">Latte</a></li>
                            <li> <a href="{% url 'iceCoffe' %}">Ice Coffee</a></li>
                            <li> <a href="{% url 'receta' %}">Mas Recetas...</a></li> {% endcomment %}

                            {% comment %} <li> <a href="{% url 'capuccino' %}">Capuccino</a></li> {% endcomment %}
                            <li> <a href="{% url 'BDrecetas' entidad_id=1 %}">Capuccino</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=2 %}">Ice Coffee</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=3 %}">Latte</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=4 %}">Lagrima</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=5 %}">Viena Cream</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=6 %}">Panna Cota</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=7 %}">Frutilla</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=8 %}">Espresso</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=9 %}">al Chocolate caliente</a></li>
                            <li> <a href="{% url 'BDrecetas' entidad_id=10 %}">Irlandés</a></li>
                            <li> <a href="{% url 'receta' %}">Mas Recetas...</a></li>
                            {% comment %} <li> <a href="{% url 'BDrecetas' %}">BD Recetas</a></li> {% endcomment %}
                            {% comment %} <li> <a href="{% url 'BDrecetas' %}">BD Recetas</a></li> {% endcomment %}
                        </ul>
                    </li>
                    <li> <a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
        </div>

        

    </header>

    {% block content%} {% endblock %}

  

    <!-- footer -->
    <footer class="footer">
        <div class="contenedor">
            <div class="barraNavegacion">
                <a href="{% url 'index' %}">
                    <h3 class="logo__nombre">Mundo Café</h3>
                </a>
                <!--iconos redes sociales-->
                <div class="icon">
                    <div class="icons">
                        <span><a href="https://www.facebook.com/" target="_blank">
                                <img class="icon" src="{% static 'core/img/face.png' %}" alt="facebook">
                            </a></span>
                        <span><a href="https://github.com/" target="_blank">
                                <img class="icon" src="{% static 'core/img/github.png' %}" alt="github">
                            </a></span>
                        <span><a href="https://www.google.com/" target="_blank">
                                <img class="icon" src="{% static 'core/img/google.png' %}" alt="google">
                            </a></span>
                        <span><a href="https://outlook.live.com/" target="_blank">
                                <img class="icon" src="{% static 'core/img/email.png' %}" alt="email">
                            </a></span>
                    </div>
                </div>

                <div>
                    <p class="footer-by">By Sol, Exe, Fer & Maxi Group20</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>