/* Esta propiedad cambia el modelo de caja predeterminado para que el ancho y alto de los elementos incluyan el padding y el borde,
 y no solo el contenido. Esto facilita el diseño de la página porque el tamaño final de los elementos es más predecible*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/*Esta regla asegura que todos los elementos del documento, así como sus pseudo-elementos before y after, hereden la propiedad box-sizing del elemento raíz html.
 Esto mantiene la consistencia en el modelo de caja a través de todo el documento*/
*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    min-height: 100vh;
    box-sizing: border-box;   
}
/*efecto esmerilado index*/
.subtitulo{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../img/cafe.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: relative;
    background-size: cover;
    display: grid;
    align-items: center;
   
}
.presentacion {
    width: 20em ;
    height: 14em;
    border: 4px solid rgba(250, 249, 249, 0.1);
    margin: auto; 
    backdrop-filter: blur(4px);
    text-align: center;
}
.presentacion .efectoglass{
    position: center;
    background: #e7e0e02c;
}
.bajar {
    color: white;
    font-weight: 400;
}
/* termina efector esmerilado index*/

.bg{
    background-image: url(../img/webp\ final.jpg);
    background-size: cover;
}

/*Globales*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    /*centrar el contenido horizontalmente, si no le sacamos el margin*/
}

a {
    text-decoration: none;
    /*quitar las decoraciones de los enlaces*/
}

.no-margin {
    margin: 0;
}

img{
    max-width: 100%;
    height: 35rem;
}

/*HEADER*/
.header {
    background-image: url(../img/thumb-1920-1340586.png);
    height: 50rem;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    /* Ajusta la opacidad según tus preferencias */
    background-blend-mode: darken;
}


h1 {
    margin: 0;
    font-size: 3rem;
}

h3{
    font-size: 3.2rem;
    line-height: 2.8rem;
}

@media (min-width:768px) {
    .barraNavegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

a {
    font-size: 2.4rem;
    color: white;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (min-width:768px) {
    .nav {
        display: flex;
        gap: 1rem;
    }
}

.titulo {
    border-radius: 15px;
    text-align: center;
    color: bisque;
    font-weight: 400;
}


.subtitulo {
    text-align: center;
    font-size: 2rem;
    color: white;
    /* max-width: 800px; /* Ajusta el ancho máximo según tus necesidades 
    margin-left: auto;
    margin-right: auto; */
    font-family: "Caveat", cursive;
    padding-top: 15rem;
}

.subtitulo p{
    font-size: 3.9rem;
}

h2 {
    font-size: 5rem;
}

.span {
    font-weight: 400;
    color: white;
}

p {
    font-size: 2.4rem;
}

/* NAV desplegable */
.principal-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    background-color: rgba(1, 1, 1, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.logo{
    color: white;
}

.navigation{
    
    
    ul{
        list-style: none;

    }
}

.principal-nav .navigation ul li{
    float: left;
    position: relative;

}

.principal-nav .navigation ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.principal-nav .navigation ul li a:hover{
    color: rgb(252, 138, 0);
}

.principal-nav .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

.principal-nav .navigation ul li ul li a{
    font-size: 19px;
    text-transform: capitalize;
}

.principal-nav .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

.principal-nav .navigation ul li ul li{
    width: 100%;
}

.principal-nav .navigation ul li:hover > ul{
    display: initial;
    
}

#toggle, .principal-nav label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

@media (max-width:950px) {
    .principal-nav label{
        display: initial;
    }

    .principal-nav{
        padding: 20px 10%;
    }

    .principal-nav .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .principal-nav .navigation ul li{
        width: 100%;
    }

    .principal-nav .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }

    .principal-nav .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    .principal-nav .navigation ul li ul li{
        background-color: rgba(1, 1, 1, 0.7);

    }

    .principal-nav .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;

    }
    #toggle:checked ~ .navigation{
        display: block;
    }
}
/* FIN menu desplegable */

/* MAIN */
@media (min-width:768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
}

.negrita{
    font-weight: 700;
}

@media (min-width:480px) {
    .entrada-imagen{
    
    width: 350px;
    height: 350px;
}
}

.entrada-contenido{
    text-align: left;
}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog h3{
    text-align: center;
}

/* HISTORIA */

.historia-titulo{
    margin-top: 6rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Indie Flower", cursive;
}

.historia-contenido p{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.border{
    border: solid 2px rgb(216, 109, 189);
    width: 20rem;
    margin: 0 auto;
}

.historia-intro{
    margin-top: 8rem;
}

@media (max-width:468px) {
    .historia-intro{
        
        max-width: auto;
        max-height: 150px;
    }
}
.elaboracion{
    display: flex;
    justify-content: center;
}


.historia-cultura{
    text-align: center;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Indie Flower", cursive;
}


/* Estilos para pantallas más pequeñas (menos de 768px) */
@media (max-width: 767px) {
    .cafe-europa {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .foto1 {
        grid-area: 1 / 1; /* La primera imagen arriba */
    }

    .nombre1 {
        grid-area: 2 / 1; /* El nombre de la primera imagen abajo */
    }

    .foto2,
    .nombre2 {
        /* Elimina las áreas definidas previamente para foto2 y nombre2 */
        grid-area: initial;
    }
}

/* Estilos para pantallas más grandes (768px o más) */
@media (min-width: 768px) {
    .cafe-europa {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        column-gap: 2rem;
        /* Define las áreas específicas para esta resolución */
        grid-template-areas:
            "imagen1 imagen2"
            "nombre1 nombre2";
    }
}

.cafe-europa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cafe-europa p{
    font-family: "Indie Flower", cursive;

}

.granos{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li{
    
    font-size: 2rem;
}

.tipos-granos{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tipos-granos img{
    width: auto;
    height: 300px; /* Establece la altura deseada */
    object-fit: cover;
}

/* //FOOTER */
.footer{
    background-color: bisque; /* lo puse para probar xq no se veían los íconos. si está feo se cambia.*/
    padding: 1rem;
}
/*rden de iconos y cambio de color tipografia*/ 

.footer-by{
    color: rgb(87, 78, 67);
    font-family: "Indie Flower", cursive;
    margin: 0;
    text-align: center;
}
.icon {
    list-style: none; 
    list-style-type: none; 
    list-style-position: inline; 
    height: 30px;
    text-align:center;
    margin-block-end: 4%;
}
    

.logo__nombre{
    color:rgb(131, 85, 29);
    text-align: center;
}








